<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!--
        El MDM autorizará esta aplicación para Lock Task.
        Esta APK no actúa como Device Owner.
        -->
        <activity
            android:name=".ui.MainActivity"
            android:lockTaskMode="if_whitelisted" />

    </application>

</manifest>